html {
	min-width:20em;
	background:#424242;
	font-family:"Quicksand", Helvetica, Arial, sans-serif;
	overflow:hidden;
}
body {
	min-width:20em;
	max-width:48em;
	margin:0 auto;
	background:#CCC;
	box-shadow:0px 0px 32px rgba(0,0,0,0.5);
	color:#131313;
	overflow:hidden;
	position:relative;
}
h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.3em 0;
	font-weight:700;
	line-height:1em;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2.25em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.125em;
}
h5 {
	font-size:1.125em;
}
h6 {
	font-size:1.125em;
}
a,
a:visited {
	padding:0.2em;
	color:#198DAF;
	text-decoration:underline;
}
a:hover {
	background:#198DAF;
	color:#FFF;
	text-decoration:none;
}
li {
	margin:0 0 0.4em 1.4em;
	list-style-type:disc;
}
strong {
	font-weight:900;
}

/* */
.topnav {
	background: #F6F6F6; /* Old browsers */
	background: -moz-linear-gradient(top, #F6F6F6 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F6F6F6), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F6F6F6 0%,#EEE 100%); /* W3C */
	box-shadow:0 2px 16px rgba(0,0,0,0.4);
	color:#131313;
	position:relative;
	z-index:9990;
}
.topnav-home {

}
.topnav .logowrap {
	
}
.topnav .logowrap .logoimg {
	height:3.75em;
	float:left;
}
.topnav .logowrap .logotitle {
	float:left;
}
.topnav .logowrap .logotitle h1 {
	margin:0.55em 0 0 0;
	padding:0;
	font-size:1.8em;
	font-weight:400;
	letter-spacing:-0.08em;
}
.topnav .logowrap .logoimg:hover,
.topnav .logowrap .logotitle:hover {
	cursor:pointer;
}

.topnav .menu {
	float:right;
}
.topnav .menu .btn {
	min-width:3.75em; /* 60 / 16 = 3.75em */
	height:3.75em;
	padding:0 0.2em;
	border-left:1px solid #BBB;
	border-right:1px solid #BBB;
	overflow:hidden;
}
.topnav .menu .btn .icon-menu-open {
	width:1.75em; 
	height:1.75em;
	margin:1em auto 0 auto;
	background:transparent url('../imgs/icons.png') no-repeat 0px 0px;
}
.topnav .menu .btn:hover {
	background:#363636;
	cursor:pointer;
}
.topnav .menu .btn:hover .icon-menu-open {
	background:transparent url('../imgs/icons.png') no-repeat 0px -28px;
}

.topnav-pg2 {
	height:3.75em;
	overflow:hidden;
}
.topnav-pg2 .title {
	overflow:hidden;
}
.topnav-pg2 .title img {
	max-width:3.75em;
	margin:0 0.4em;
	padding:0;
	display:block;
	float:left;
}
.topnav-pg2 .title h1 {
	margin:0.55em 0 0 0;
	height:1.55em;
	color:#848484;
	display:block;
	font-size:1.8em;
	font-weight:400;
	letter-spacing:-0.08em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.topnav-pg2 .btn-home {
	width:3.75em;
	padding:0.6em 0.2em;
}




#pageWrap {
	margin:1px 0 0 0;
	background:#535353 url('../imgs/bg3.png');
	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
	top:0;
	left:0;
}
#pageWrapInner {
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
}
.page {
	min-width:320px;
	float:left;
	overflow:hidden;
}
.page > h1 {
	margin:0.4em;
	font-size:1.5em;
}

#categories {
	padding:1px 0 0 4px;
}
.category {
	width:49%;
	height:9.375em; /* 150 / 16 = 6.25  */
	margin:0 4px 4px 0;
	background:#FFF;
	float:left;
	position:relative;
}
.category .catinner {
	width:auto;
	height:8.875em; /* 142 / 16 = 9 */
	margin:4px;
}
.category .catinner .verbage {
	width:100%;
	background:rgba(0,0,0,0.8);
	color:#FFF;
	position:absolute;
	bottom:0;
	left:0;
}
.category .catinner .verbage h1 {
	margin:0;
	padding:0.2em 0.3em 0.25em 0.3em;
	font-size:1.8em;
	font-weight:400;
	letter-spacing:-0.05em;
}
.category-dirt {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px 0px;
}
.category-dirt .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -4px;
}
.category-hay {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -150px;
}
.category-hay .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -154px;
}
.category-leaves {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -300px;
}
.category-leaves .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -304px;
}
.category-mulch {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -450px;
}
.category-mulch .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -454px;
}
.category-pineneedles {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -600px;
}
.category-pineneedles .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -604px;
}
.category-rocks {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -750px;
}
.category-rocks .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -754px;
}
.category-sand {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -900px;
}
.category-sand .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -904px;
}
.category-sticks {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -1050px;
}
.category-sticks .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -1054px;
}
.category-woodchips {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat 0px -1200px;
}
.category-woodchips .catinner {
	background:#FFF url('../imgs/bg-categories-icons.png') no-repeat -4px -1204px;
}
.category:hover {
	background:#198DAF;
	cursor:pointer;
}
.category:hover .catinner .verbage {
	background:#198DAF;
}

#pageTracker {
	width:100%;
	margin:2px 0 0 1px;
	position:relative;
	z-index:9991;
}
#pageTracker .activeBlock {
	width:32.6%;
	height:4px;
	margin-left:0.2%;
	background:#131313;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
	z-index:9990;
}
#pageTracker .pageBlock {
	width:32.6%;
	height:4px;
	margin:0 0.2%;
	background:#EEE;
	float:left;
}
#pageTracker .pageBlock .inner {
	width:auto;
	height:2px;
	margin:1px;
	background:#EEE;
	
}

#actions {
	min-width:20em;
	background: #F6F6F6; /* Old browsers */
	background: -moz-linear-gradient(top, #F6F6F6 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F6F6F6), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F6F6F6 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F6F6F6 0%,#EEE 100%); /* W3C */
	border-top:1px solid #BBB;
}
#actions .inner {
	margin:0 0.5%;
	position:relative;
}
.action {
	width:19.7%;
	margin:0 0 0 -1px;
	padding:0.6em 0;
	border-left:1px solid #BBB;
	border-right:1px solid #BBB;
	color:#131313;
	float:left;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	text-align:center;
	position:relative;
}
.action p {
	font-size:0.8em;
}
.action .icon-action {
	width:1.75em;
	height:1.75em;
	margin:0 auto;
}
.action .icon-action-menuopen {
	background:transparent url('../imgs/icons.png') no-repeat 0px 0px;
}
.action:hover .icon-action-menuopen,
.action-disabled .icon-action-menuopen {
	background:transparent url('../imgs/icons.png') no-repeat 0px -28px;
}
.action .icon-action-menuclose {
	background:transparent url('../imgs/icons.png') no-repeat -28px 0px;
}
.action:hover .icon-action-menuclose,
.action-disabled .icon-action-menuclose {
	background:transparent url('../imgs/icons.png') no-repeat -28px -28px;
}
.action .icon-action-arrowright {
	background:transparent url('../imgs/icons.png') no-repeat -56px 0px;
}
.action:hover .icon-action-arrowright,
.action-disabled .icon-action-arrowright {
	background:transparent url('../imgs/icons.png') no-repeat -56px -28px;
}
.action .icon-action-arrowup {
	background:transparent url('../imgs/icons.png') no-repeat -84px 0px;
}
.action:hover .icon-action-arrowup,
.action-disabled .icon-action-arrowup {
	background:transparent url('../imgs/icons.png') no-repeat -84px -28px;
}
.action .icon-action-arrowleft {
	background:transparent url('../imgs/icons.png') no-repeat -112px 0px;
}
.action:hover .icon-action-arrowleft,
.action-disabled .icon-action-arrowleft {
	background:transparent url('../imgs/icons.png') no-repeat -112px -28px;
}
.action .icon-action-arrowdown {
	background:transparent url('../imgs/icons.png') no-repeat -140px 0px;
}
.action:hover .icon-action-arrowdown,
.action-disabled .icon-action-arrowdown {
	background:transparent url('../imgs/icons.png') no-repeat -140px -28px;
}
.action .icon-action-home {
	background:transparent url('../imgs/icons.png') no-repeat -168px 0px;
}
.action:hover .icon-action-home,
.action-disabled .icon-action-home {
	background:transparent url('../imgs/icons.png') no-repeat -168px -28px;
}
.action .icon-action-login {
	background:transparent url('../imgs/icons.png') no-repeat -196px 0px;
}
.action:hover .icon-action-login,
.action-disabled .icon-action-login {
	background:transparent url('../imgs/icons.png') no-repeat -196px -28px;
}
.action .icon-action-user {
	background:transparent url('../imgs/icons.png') no-repeat -224px 0px;
}
.action:hover .icon-action-user,
.action-disabled .icon-action-user {
	background:transparent url('../imgs/icons.png') no-repeat -224px -28px;
}
.action .icon-action-new {
	background:transparent url('../imgs/icons.png') no-repeat -252px 0px;
}
.action:hover .icon-action-new,
.action-disabled .icon-action-new {
	background:transparent url('../imgs/icons.png') no-repeat -252px -28px;
}
.action .icon-action-target {
	background:transparent url('../imgs/icons.png') no-repeat -280px 0px;
}
.action:hover .icon-action-target,
.action-disabled .icon-action-target {
	background:transparent url('../imgs/icons.png') no-repeat -280px -28px;
}
.action .icon-action-check {
	background:transparent url('../imgs/icons.png') no-repeat -308px 0px;
}
.action:hover .icon-action-check,
.action-disabled .icon-action-check {
	background:transparent url('../imgs/icons.png') no-repeat -308px -28px;
}
.action .icon-action-cancel {
	background:transparent url('../imgs/icons.png') no-repeat -336px 0px;
}
.action:hover .icon-action-cancel,
.action-disabled .icon-action-cancel {
	background:transparent url('../imgs/icons.png') no-repeat -336px -28px;
}
.action .icon-action-update {
	background:transparent url('../imgs/icons.png') no-repeat -364px 0px;
}
.action:hover .icon-action-update,
.action-disabled .icon-action-update {
	background:transparent url('../imgs/icons.png') no-repeat -364px -28px;
}
.action .icon-action-list {
	background:transparent url('../imgs/icons.png') no-repeat -392px 0px;
}
.action:hover .icon-action-list,
.action-disabled .icon-action-list {
	background:transparent url('../imgs/icons.png') no-repeat -392px -28px;
}
.action .icon-action-pin {
	background:transparent url('../imgs/icons.png') no-repeat -420px 0px;
}
.action:hover .icon-action-pin,
.action-disabled .icon-action-pin {
	background:transparent url('../imgs/icons.png') no-repeat -420px -28px;
}


.action:hover {
	background:#363636;
	color:#EEE;
	cursor:pointer;
}
.action-ok {
	padding:0.8em;
	border-radius:0.2em;
	float:right;
}
.action-cancel {
	padding:0.8em;
	border-radius:0.2em;
	float:left;
}
#action-ok,
#action-back {
	float:right;
}
.action-disabled,
.action-disabled:hover {
	background:#198DAF;
	color:#FFF;
	cursor:default;
}

#updates {
	padding:0 2em 1em 1em;
}
#updates .update {
	margin:0 0 2em 0;
}
#updates .update .date {
	margin:0 0 0.6em 0;
	padding:0 0 0.2em 0;
	border-bottom:1px solid #CCC;
	font-style:oblique;
}

#comingsoon {
	padding:0 2em 1em 1em;
}

#locations {
	margin:1px 0 0 0;
}
#locations .location {
	height:9.375em;
	margin-bottom:2px;
	background:#FFF;
	overflow:hidden;
	position:relative;
}
#locations .location .title {
	margin:0;
	padding:0;
	color:#198DAF;
	letter-spacing:-0.1em;
	position:absolute;
	top:0.6em;
	left:18em;
	z-index:4;
}
#locations .location .title h1 {
	margin:0;
	padding:0;
	font-size:2.8em;
	letter-spacing:-0.075em;
}
#locations .location .title h2 {
	margin:0.4em 0 0 0;
	padding:0;
	font-size:2em;
}
#locations .location .title p {
	margin:-0.2em 0 0 0;
	font-size:1.2em;
}
#locations .location .chart-tons {
	width:280px;
	height:150px;
	background:transparent url('../imgs/imgs-charts.png') no-repeat 0px 0px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-lots {
	width:280px;
	height:150px;
	background:transparent url('../imgs/imgs-charts.png') no-repeat 0px -150px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-some {
	width:280px;
	height:150px;
	background:transparent url('../imgs/imgs-charts.png') no-repeat 0px -300px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-little {
	width:280px;
	height:150px;
	background:transparent url('../imgs/imgs-charts.png') no-repeat 0px -450px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .mouseover-border {
	width:98.4%;
	height:8.875em;
	border:4px solid #198DAF;
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#locations .location:hover {
	cursor:pointer;
}
#locations .location:hover .mouseover-border {
	display:block;
}



#pile {
	margin:1px 0 0 0;
}
#pile .info {
	margin:0 0 2px 0;
	padding:1em 1em 4.8em 1em;
	background:#FFF;
	font-size:1.2em;
	position:relative;
}
#pile .info h1 {
	margin:0 0 0.4em 0;
	font-size:1.4em;
	letter-spacing:-0.075em;
}
#pile .info .address {
	margin:0;
	font-size:1.2em;
	letter-spacing:-0.075em;
}
#pile .info .chart {
	position:absolute;
	bottom:-2px;
	left:0;
}
#pile .info .chart img {
	max-width:7em;
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
#pile .update {
	margin:0.4em 0 0 0;
	color:#848484;
}
#pile .notes {
	margin:0 0 2px 0;
	padding:1.25em 2.5em;
	background:#FFF;
	font-size:1.2em;
	letter-spacing:-0.075em;
	position:relative;
}
#pile .notes p {
	line-height:1.1em;
}
#pile .lquo {
	margin:0;
	padding:0;
	color:#BBB;
	font-size:3em;
	font-weight:700;
	line-height:0em;
	position:absolute;
	top:30px;
	left:10px;
}
#pile .rquo {
	color:#BBB;
	font-size:4em;
	font-weight:700;
	line-height:0em;
	position:absolute;
	bottom:10px;
	right:10px;
}


#pile .map {
	width:100%;
	height:250px;
	background:#424242 url('../imgs/map.png') no-repeat top center;
}
#pile .updatepile {
	padding:1em;
}
#pile .updatepile h2 {
	font-size:1.5em;
	letter-spacing:-0.075em;
}


/* BLUE BUTTONS - CUZ TEHY SAD*/
.btn-blue {
	padding:1em;
	background:#198DAF;
	background: -moz-linear-gradient(top, #198DAF 0%, #28768B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#198DAF), color-stop(100%,#28768B)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #198DAF 0%,#28768B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #198DAF 0%,#28768B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #198DAF 0%,#28768B 100%); /* IE10+ */
	background: linear-gradient(to bottom, #198DAF 0%,#28768B 100%); /* W3C */
	border-radius:2px;
	box-shadow:-4px 4px 16px rgba(0,0,0,0.4);
	color:#FFF;
	font-weight:400;
	letter-spacing:-0.05em;
}
.btn-blue .inner {
	margin:0 auto;
}
.btn-blue .label {
	margin:0 0 0 3em;
	font-size:1.25em;
}
.btn-blue .icon-bb {
	width:1.75em;
	height:1.75em;
	margin:0 1em;
	float:left;
}
.btn-blue .icon-bb-target {
	background:transparent url('../imgs/icons.png') no-repeat -280px -28px;
}
.btn-blue .icon-bb-update {
	background:transparent url('../imgs/icons.png') no-repeat -364px -28px;
}
.btn-blue:hover {
	background:#28768B;
	background: -moz-linear-gradient(top, #28768B 0%, #198DAF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28768B), color-stop(100%,#198DAF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #28768B 0%,#198DAF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #28768B 0%,#198DAF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #28768B 0%,#198DAF 100%); /* IE10+ */
	background: linear-gradient(to bottom, #28768B 0%,#198DAF 100%); /* W3C */
	box-shadow:-2px 2px 4px rgba(0,0,0,0.2);
	cursor:pointer;
}


/* FORM PAGES UNIVERSAL */
.form {
	background:#DDD url('../imgs/bg3.png');
	overflow:auto;
	position:absolute;
	top:0;
	left:-9999px;
	z-index:9999;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
}
.form hr {
	margin:2em 1em;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.form .header {
	width:100%;
	height:3.75em;
	background:#FFF;
	color:#000;
	overflow:hidden;
}
.form .header h1 {
	margin:0.55em 0 0 0.55em;
	color:#848484;
	font-size:1.8em;
	font-weight:400;
	letter-spacing:-0.075em;
}

.form .address {
	margin:1em;
}
.form .address h1,
.form .types h1,
.form .amount h1,
.form .description h1,
.form .id h1 {
	font-size:1.6em;
	font-weight:700;
	letter-spacing:-0.075em;
}
.form input,
.form textarea,
#about input,
#about textarea {
	margin:0.2em 0;
	padding:0.6em 0.8em;
	border:2px solid #848484;
	display:block;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:0.9em;
	font-weight:300;
	outline:none;
}
.form input:focus,
.form textarea:focus {
	border:2px solid #198DAF;
}
.form .address .action {
	width:100%;
	float:none;
}
.form .address .manual {
	margin:0 2% 0 0;
	padding:0 2% 0 0;
}
.form .types {
	margin:0 1em;
}
.form .type {
	width:7.8125em;
	height:7.8125em;
	margin:0 2px 2px 0;
	padding:0;
	background:#FFF;
	float:left;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:0.8em;
	font-weight:300;
	overflow:hidden;
	position:relative;
}
.form .type p {
	margin:0.8em;
}
.form .type-dirt {
	background:#FFF url('../imgs/icon-cat-dirt.png') no-repeat -20px 25px;
}
.form .type-hay {
	background:#FFF url('../imgs/icon-cat-hay.png') no-repeat -20px 25px;
}
.form .type-leaves {
	background:#FFF url('../imgs/icon-cat-leaves.png') no-repeat -20px 25px;
}
.form .type-mulch {
	background:#FFF url('../imgs/icon-cat-mulch.png') no-repeat -20px 25px;
}
.form .type-pineneedles {
	background:#FFF url('../imgs/icon-cat-pineneedles.png') no-repeat -20px 25px;
}
.form .type-rocks {
	background:#FFF url('../imgs/icon-cat-rocks.png') no-repeat -20px 25px;
}
.form .type-sand {
	background:#FFF url('../imgs/icon-cat-sand.png') no-repeat -20px 25px;
}
.form .type-sticks {
	background:#FFF url('../imgs/icon-cat-sticks.png') no-repeat -20px 25px;
}
.form .type-woodchips {
	background:#FFF url('../imgs/icon-cat-woodchips.png') no-repeat -20px 25px;
}
.form .border {
	width:7.1875em;
	height:7.1875em;
	border:4px solid #198DAF;
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.form .type:hover {
	cursor:pointer;
}
.form .type:hover .border {
	display:block;
}
.form .amount {
	margin:1em;
}
.form .amount .chart {
	height:13.7em;
	margin:0 0 0 9.375em;
	background:#FFF;
	border:4px solid #198DAF;
	position:relative;
}
.form .amount .chartnone {
	height:17.25em;
}
.form .amount .chart img {
	max-width:100%;
	margin:0;
	position:absolute;
	bottom:0;
	left:0;
}
.form .amount .options {
	float:left;
}
.form .amount .option {
	width:5.915em;
	height:2em;
	margin:0 0 1px 0;
	background:#FFF;
	border:4px solid #FFF;
	font-size:1.5em;
	letter-spacing:-0.05em;
	text-align:center;
}
.form .amount .option p {
	margin:0.5em 0 0 0;
}
.form .amount .option:hover {
	border:4px solid #198DAF;
	cursor:pointer;
}
.form .types .action-selected .border {
	display:block;
}
.form .amount .action-selected {
	background:#198DAF;
	border:4px solid #198DAF;
	color:#FFF;
}
.form .description {
	margin:1em;
}
.form .id {
	margin:1em;
}

/** About panel/page **/
#about {
	width:100%;
	height:100%;
	background:#131313 url('../imgs/bg3-dark.png');
	color:#FFF;
	line-height:1.2em;
	overflow-y:scroll;
	letter-spacing:-0.075em;
	transition-property:top;
	transition-duration:0.2s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:-1000px;
	left:0;
	z-index:9999;
}
#about.aboutopen {
	top:0;
}
#about h1 {
	font-size:1.5em;
}
#about p {
	margin:0 0 0.8em 0;
	color:#EEE;
	font-size:1.2em;
	line-height:1.1em;
}
#about li {
	color:#EEE;
	font-size:1.2em;
	line-height:1.1em;
}
#about hr {
	margin:2em 0;
	border:none;
	border-bottom:1px solid rgba(255,255,255,0.2);
}
#about .inner {
	margin:1em 2em;
}
#about .btn-blue {
	padding:0.8em 1.6em;
}
#about .btn-blue .label {
	margin:0 auto;
	text-align:center;
}
#about .topnav {
	width:100%;
	max-width:48em;
	position:absolute;
	bottom:0;
}
#about .topnav.aboutnav {
	position:fixed;
}
#about .topnav .icon-menu-close {
	width:1.75em;
	height:1.75em;
	margin:1em auto 0 auto;
	background:transparent url('../imgs/icons.png') no-repeat -28px 0px;
}
#about .topnav .btn:hover .icon-menu-close {
	background:transparent url('../imgs/icons.png') no-repeat -28px -28px;
}


/* MISC */
.clear {
	content:'';
	display:block;
	clear:both;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}

/*** RESPONSIVENESS ***/
@media (min-width:320px) {
	.form input,
	.form textarea,
	#about input {
		width:25em;
		margin:0.2em auto;
	}
	.btn-blue {
		max-width:21em;
		margin:0 auto;
	}
}
@media (max-width:600px) {
	.form input,
	.form textarea,
	#about input {
		width:21.5em;
		margin:0.2em auto;
	}
	.btn-blue {
		max-width:17.8em;
		margin:0 auto;
	}
}
@media (max-width:520px) {
	.form input,
	.form textarea,
	#about input {
		width:17.65em;
		margin:0.2em auto;
	}
	.btn-blue {
		max-width:14.4em;
		margin:0 auto;
	}
}
@media (max-width:479px) {
	#categories {
		font-size:0.7em;
	}
	#categories .category {
		width:48%;
	}
	#categories .category .type {
		left:2em;
	}
	#locations .location {
		height:8.175em;
		margin:5px;
	}
	#locations .location .title {
		max-width:95%;
		padding:0.1em;
		background:rgba(255,255,255,0.9);
		left:9em;
		position:relative;
		top:4px;
		left:4px;
	}
	#locations .location .title h1 {
		font-size:2em;
		display:inline-block;
	}
	#locations .location .title h2 {
		font-size:1.5em;
		display:inline-block;
	}
	#locations .location .title p {
		font-size:1em;
		display:inline-block;
	}
	#locations .location .mouseover-border {
		width:97.375%;
		height:7.675em;
	}
	.topnav .logowrap .logotitle p {
		display:none;
	}
}





/*** DEBUG ***/
#debug {
	width:150px;
	padding:10px;
	position:fixed;
	bottom:0;
	right:0;
	background:#EEE;
	color:#636363;
	display:none;
	font-size:0.8em;
	z-index:9999;
}