html {
	min-width:20em;
	background:#EEE;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	overflow:hidden;
}
body {
	min-width:20em;
	max-width:48em;
	margin:0 auto;
	color:#363636;
	overflow:hidden;
	position:relative;
}
h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.3em 0;
	color:#131313;
	font-weight:700;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2.25em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.125em;
}
h5 {
	font-size:1.125em;
}
h6 {
	font-size:1.125em;
}
a,
a:visited {
	padding:0.2em;
	color:#0072BC;
	text-decoration:underline;
}
a:hover {
	background:#0072BC;
	color:#FFF;
	text-decoration:none;
}
li {
	margin:0 0 0.4em 1.4em;
	list-style-type:disc;
}

/* */
#topnav {
	background:#212121;
	box-shadow:0 2px 16px rgba(0,0,0,0.4);
	color:#FFF;
	position:relative;
	z-index:9990;
}

.logo {
	padding:0.5em;
}
.logo h1 {
	margin:0;
	color:#FFF;
	font-size:1.5em;
}
.logo a,
.logo a:visited {
	color:#FFF;
	text-decoration:none;
}
.logo p {
	margin:0 0 0 0.45em;
	font-size:0.7em;
}

.search {
	padding:0.5em;
	display:none;
	float:right;
	text-align:center;
}
.search:hover {
	background:#0072BC;
	cursor:pointer;
}
.search p {
	font-size:0.8em;
}

#pageTracker {
	padding:1px 0 2px 0;
	position:relative;
	z-index:9991;
}
#pageTracker .activeBlock {
	width:25%;
	height:4px;
	background:#0072BC;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
}
#pageTracker .pageBlock {
	width:24.6%;
	height:2px;
	margin:0 0.2%;
	background:#848484;
	float:left;
}

#pageWrap {
	overflow-y:scroll;
	overflow-x:hidden;
	position:relative;
	top:0;
	left:0;
}
#pageWrapInner {
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
}
.page {
	min-width:320px;
	background:#EEE;
	float:left;
}
.page > h1 {
	margin:0.4em;
	font-size:1.5em;
}

#categories {

}
.category {
	margin:0 0 0.2em 0;
	padding:0.4em;
	background:#FFF;
	cursor:pointer;
	position:relative;
}
.category:hover {
	background:#0072BC;
	color:#FFF;
}
.category:hover h1 {
	color:#FFF;
}
.category h1 {
	max-width:65%;
	margin:0;
	font-size:1.5em;
	line-height:1.4em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.category img {
	margin:0 0.4em 0 0;
	float:left;
}
.category .icon {
	position:absolute;
	top:0.5em;
	right:0.8em;
}


#actions {
	min-width:20em;
	background:#131313;
	position:fixed;
	bottom:0;
}
#actions .inner {
	margin:0 0.5%;
	position:relative;
}
.action {
	width:24%;
	margin:0 0.5% 2px 0.5%;
	padding:0.8em 0;
	background:#212121;
	color:#DDD;
	float:left;
	text-align:center;
}
.action:hover {
	background:#0072BC;
	color:#FFF;
	cursor:pointer;
}
.action p {
	font-size:0.8em;
}
.action-ok {
	padding:0.8em;
	border-radius:0.2em;
	float:right;
}
.action-cancel {
	padding:0.8em;
	border-radius:0.2em;
	float:left;
}

#updates {
	padding:0 2em 1em 1em;
}
.update {
	margin:0 0 2em 0;
}
.update .date {
	margin:0 0 0.6em 0;
	padding:0 0 0.2em 0;
	border-bottom:1px solid #CCC;
	font-style:oblique;
}

#about {
	padding:0 2em 1em 1em;
	line-height:1.4em;
}
#about p {
	margin:0 0 1em 0;
}

#comingsoon {
	padding:0 2em 1em 1em;
}

#location {
	
}
#location .header {
	padding:0 0.8em;
	border-bottom:1px solid #AAA;
}
#location .header .col {
	margin:0 1%;
	float:left;
	font-size:0.8em;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#location .header .id {
	width:5%;
	text-align:center;
}
#location .header .amount {
	width:10%;
	text-align:center;
}
#location .header .update {
	width:10%;
	text-align:center;
}
#location .header .address {
	width:40%;
}
#location .header .distance {
	width: 15%;
	text-align:center;
}
#location .row {
	margin:0 0 0.2em 0;
	padding:0.8em;
	background:#FFF;
}
#location .row:hover {
	background:#0072BC;
	color:#FFF;
	cursor:pointer;
}
#location .row .col {
	margin:0 1%;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#location .row .id {
	width:5%;
	font-size:0.8em;
	text-align:center;
}
#location .row .amount {
	width:10%;
	font-weight:bold;
	text-align:center;
}
#location .row .update {
	width:10%;
	font-weight:bold;
	text-align:center;
}
#location .row .address {
	width:40%;
}
#location .row .distance {
	width: 15%;
	font-weight:bold;
	text-align:center;
}
#location .row .arrow {
	width:5%;
	text-align:right;
}

#pile {
	margin:0;
}
#pile h1 {
	margin:0.4em;
	font-size:1.5em;
}
.info {
	margin:0 1em 0.2em 0;
	padding:0.4em;
	background:#FFF;
}
.info hr {
	margin:0.2em 0 0.4em 0;
	border:none;
	border-bottom:1px solid #EEE;
}
.info .id {
	font-size:0.9em;
	font-weight:800;
}
.info .profile {
	width:50%;
	float:left;
	position:relative;
}
.info .profile img {
	width:100%;
}
.info .details {
	width:50%;
	float:left;
	text-align:center;
}
.info .details hr {
	margin:0.5em;
	border:none;
	border-bottom:1px solid #EEE;
}
.info .details .spacer {
	height:1.2em;
	width:100%;
}
.info .details .value {
	font-size:1.5em;
}
.info .details .units {
	font-size:0.7em;
}
.info .details address {
	font-size:0.8em;
}
#pile .description {
	padding:0 2em 1em 1em;
}
#pile .description h1 {
	margin:0;
	color:#131313;
}

#history {
	padding:0 2em 0em 1em;
}
.entry {
	margin:0 0 0.5em 0;
	padding:0.8em;
	border:2px solid #AAA;
	border-radius:1em;
}
.entry h1 {
	font-size:0.9em;
}


#newPileForm {
	background:#EEE;
	overflow:auto;
	position:absolute;
	top:0;
	left:-9999px;
	z-index:9999;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
}
#newPileForm .inner {
	margin:1em 2em 1em 1em;
}
#newPileForm h1 {
	font-size:1.5em;
}

#updatePileForm {
	background:#EEE;
	overflow:auto;
	position:absolute;
	top:0;
	left:-9999px;
	z-index:9999;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
}
#updatePileForm .inner {
	margin:1em 2em 1em 1em;
}
#updatePileForm h1 {
	font-size:1.5em;
}

#overlays {
	width:100%;
	max-width:48em;
	margin:0 auto;
	background:#FFF;
	display:none;
	position:fixed;
	top:0;
}
.overlay {
	padding:1em;
}
.overlay .title {
	margin:0 0 0.8em 0;
	font-size:0.8em;
}
.overlay .title .icon {
	margin:0 0.4em 0 0;
	float:left;
}
.overlay .title h1 {
	font-size:1.8em;
}
.overlay .content .input {
	margin:0 0 0.8em 0;
	text-align:center;
}
.overlay .content .input input {
	width:4em;
	padding:0.2em 0.4em;
	border:2px solid #AAA;
	border-radius:0.4em;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:3em;
	outline:none;
	text-align:center;
}
.overlay .content input:focus {
	border:2px solid #0072BC;
}


/* clears */
.clear {
	content:'';
	display:block;
	clear:both;
}

/** PROTOTYPE DISCLAIMER & INFO **/
#protoinfo {
	padding:0.4em 0.8em;
	background:#DA050E;
	border:2px solid #DA050E;
	border-top-left-radius:0.4em;
	border-top-right-radius:0.4em;
	color:#FFF;
	display:none;
	text-align:center;
	vertical-align:middle;
	position:fixed;
	bottom:0;
	right:10%;
	z-index:9999;
}
#protoinfo:hover {
	cursor:pointer;
	border:2px dashed #FFF;
}

/*** DEBUG ***/
#debug {
	width:150px;
	padding:10px;
	position:fixed;
	bottom:0;
	right:0;
	background:#EEE;
	color:#636363;
	display:none;
	font-size:0.8em;
	z-index:9999;
}