html {
	min-width:20em;
	background:#000;
	font-family:"Quicksand", Helvetica, Arial, sans-serif;
	overflow:hidden;
}
body {
	min-width:20em;
	max-width:48em;
	margin:0 auto;
	background:#636363;
	color:#212121;
	overflow:hidden;
	position:relative;
}
h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.3em 0;
	font-weight:700;
	line-height:1em;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2.25em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.125em;
}
h5 {
	font-size:1.125em;
}
h6 {
	font-size:1.125em;
}
a,
a:visited {
	padding:0.2em;
	color:#198DAF;
	text-decoration:underline;
}
a:hover {
	background:#198DAF;
	color:#FFF;
	text-decoration:none;
}
li {
	margin:0 0 0.4em 1.4em;
	list-style-type:disc;
}
strong {
	font-weight:900;
}

/* */
.topnav {
	background: #323232; /* Old browsers */
	background: -moz-linear-gradient(top, #464646 0%, #323232 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#323232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #464646 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #464646 0%,#323232 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #464646 0%,#323232 100%); /* IE10+ */
	background: linear-gradient(to bottom, #464646 0%,#323232 100%); /* W3C */
	box-shadow:0 2px 16px rgba(0,0,0,0.4);
	color:#000;
	position:relative;
	z-index:9990;
}
.topnav-home {

}
.topnav-pg2 {
	
}
.topnav-pg2 .btn-home {
	width:6.25em;
	padding:1.75em 0;
	border-right:1px solid #525252;
	color:#CCC;
	text-align:center;
}
.topnav-pg2 .btn-home:hover {
	background:#212121;
	color:#FFF;
	cursor:pointer;
}
.topnav-pg2 .title {
	width:100%;
	height:93px;
	color:#FFF;
	font-weight:300;
	
	position:absolute;
	top:0;
	left:100px;
}
.topnav-pg2 .title .title-verbage {
	margin:0.2em 0.3em 0 0.3125em;
	font-size:3em;
	letter-spacing:-0.075em;
}
.topnav-pg2 .title .title-numlocations {
	margin:0 0 0 1em;
	
	font-weight:400;
}
.topnav-pg2 .title-pineneedles {
	color:#74AC24;
}
.topnav-pg2 .title-leaves {
	color:#EBD700;
}
.topnav-pg2 .title-rocks {
	color:#B6BABD;
}
.topnav-pg2 .title-woodchips {
	color:#BF986F;
}

.topnav .logowrap {
	padding:0.55em;
}
.topnav .logowrap a,
.topnav .logowrap a:visited {
	margin:0;
	padding:0;
	color:#CCC;
	font-weight:300;
	text-decoration:none;
}
.topnav .logowrap a:hover {
	background:none;
}
.topnav .logowrap .logoimg {
	float:left;
}
.topnav .logowrap .logotitle {
	float:left;
}
.topnav .logowrap .logotitle h1 {
	margin:0;
	padding:0;
	letter-spacing:-0.075em;
}
.topnav .logowrap .logotitle p {
	margin:0;
	padding:0;
	color:#CCC;
}

.topnav .about {
	width:1.8em;
	height:1.8em;
	background: #F3F3F3; /* Old browsers */
	background: -moz-linear-gradient(top, #F3F3F3 0%, #919191 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#919191)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F3F3F3 0%,#919191 100%); /* W3C */
	border-radius:0.9em;
	box-shadow:0px 4px 16px rgba(0,0,0,0.7);
	color:#131313;
	font-weight:700;
	text-align:center;
	position:absolute;
	top:1em;
	right:1em;
	z-index:9999;
}
.topnav .about:hover {
	background:#F3F3F3;
	color:#131313;
	cursor:pointer;
}
.topnav .about p {
	margin:0.3em 0 0 0;
}

#pageWrap {
	margin:1px 0 0 0;
	background:#535353 url('../imgs/bg3.png');
	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
	top:0;
	left:0;
}
#pageWrapInner {
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
}
.page {
	min-width:320px;
	float:left;
	overflow:hidden;
}
.page > h1 {
	margin:0.4em;
	font-size:1.5em;
}

#categories {

}
.category {
	height:6.25em; /* 100 / 16 = 6.25  */
	margin:1px 0;
	cursor:pointer;
	position:relative;
}
.category:hover {
	
}
.category:hover h1 {
	
}
.category .catwrap {
	width:100%;
	height:3.3em;
	border-bottom:1px solid #FFF;
	position:absolute;
	bottom:2px;
	left:0;
}
.category .type {
	position:absolute;
	bottom:0;
	left:6.25em;  /* 100 / 16 = 6.25 */
}
.category .type p {
	margin:0;
	padding:0.05em 0.3em;
	background:rgba(0,0,0,0.7);
	font-size:3em;
	font-weight:400;
	line-height:1em;
	letter-spacing:-0.075em;
	white-space:nowrap;
}
.category:hover .type p {
	font-weight:700;
}
.category .locs {
	margin:0;
	text-align:right;
	position:absolute;
	bottom:0;
	right:0;
}
.category .locs p {
	margin:0;
	padding:0.2em 1.75em 0.1em 1em;
	background:rgba(0,0,0,0.7);
	font-size:1.5em;
	font-weight:700;
	letter-spacing:-0.05em;
	line-height:1em;
}
.category .rightarrow {
	margin-left:0em;
	font-size:0.65em;
	opacity:0;
	transition-property:margin-left, opacity;
	transition-duration:0.2s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	
}
.category:hover .rightarrow {
	margin-left:0.4em;
	opacity:1;
}
.category-pineneedles {
	background:transparent url('../imgs/bg-categories-2.png') no-repeat 0px -100px;
	color:#74AC24;
}
.category-leaves {
	background:transparent url('../imgs/bg-categories-2.png') no-repeat 0px 0px;
	color:#EBD700;
}
.category-rocks {
	background:transparent url('../imgs/bg-categories-2.png') no-repeat 0px -200px;
	color:#B6BABD;
}
.category-woodchips {
	background:transparent url('../imgs/bg-categories-2.png') no-repeat 0px -300px;
	color:#BF986F;
}
.category-pineneedles .catwrap {
	border-bottom:1px solid #74AC24;
}
.category-leaves .catwrap {
	border-bottom:1px solid #EBD700;
}
.category-rocks .catwrap {
	border-bottom:1px solid #B6BABD;
}
.category-woodchips .catwrap {
	border-bottom:1px solid #BF986F;
}

#pageTracker {
	width:100%;
	margin:1px 0 0 1px;
	position:relative;
	z-index:9991;
}
#pageTracker .activeBlock {
	width:33%;
	height:4px;
	background: #F3F3F3; /* Old browsers */
	background: -moz-linear-gradient(top, #F3F3F3 0%, #919191 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#919191)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F3F3F3 0%,#919191 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F3F3F3 0%,#919191 100%); /* W3C */
	box-shadow:0px 4px 16px rgba(0,0,0,0.75);
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
	position:absolute;
	top:0;
	left:0;
	z-index:9990;
}
#pageTracker .pageBlock {
	width:33%;
	height:4px;
	margin:0 0.1%;
	background:#131313;
	float:left;
}
#pageTracker .pageBlock .inner {
	width:auto;
	height:2px;
	margin:1px;
	background:#131313;
	
}

#actions {
	min-width:20em;
	margin:1px 0 0 0;
	background:#525252;
}
#actions .inner {
	margin:0 0.5%;
	position:relative;
}
.action {
	width:19.7%;
	margin:0 0.15%;
	padding:1.8em 0;
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #424242 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #424242 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #424242 0%,#333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #424242 0%,#333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #424242 0%,#333 100%); /* W3C */
	color:#CCC;
	float:left;
	font-weight:300;
	text-align:center;
	position:relative;
}
.action:hover {
	background:#212121;
	color:#FFF;
	cursor:pointer;
}
.action p {
	
}
.action-ok {
	padding:0.8em;
	border-radius:0.2em;
	float:right;
}
.action-cancel {
	padding:0.8em;
	border-radius:0.2em;
	float:left;
}
#action-ok,
#action-back {
	float:right;
}
.action-disabled,
.action-disabled:hover {
	background:#424242;
	color:#848484;
	cursor:default;
}

#updates {
	padding:0 2em 1em 1em;
}
#updates .update {
	margin:0 0 2em 0;
}
#updates .update .date {
	margin:0 0 0.6em 0;
	padding:0 0 0.2em 0;
	border-bottom:1px solid #CCC;
	font-style:oblique;
}

#comingsoon {
	padding:0 2em 1em 1em;
}

#locations {
	
}
#locations .location {
	height:9.35em;
	margin:10px;
	box-shadow:0px 2px 4px rgba(0,0,0,0.3);
	overflow:hidden;
	position:relative;
}
#locations .location .info {
	max-width:75%;
	overflow:hidden;
	text-align:right;
	position:absolute;
	top:0.5em;
	right:1em;
}
#locations .location .title {
	margin:0.5em 0 0 0;
	padding:0.2em 0.8em;
	background:rgba(0,0,0,0.7);
	color:#AAA;
	font-weight:400;
	position:absolute;
	bottom:2px;
	left:0;
	z-index:4;
}
#locations .location .title .amount {
	color:#FFF;
	font-size:2.5em;
	letter-spacing:-0.05em;
}
#locations .location .title .distance {
	color:#FFF;
	font-size:1.5em;
	letter-spacing:-0.05em;
}
#locations .location .address {
	font-family:"Open Sans";
	font-size:0.9em;
	font-weight:300;
	position:relative;
	z-index:3;
}
#locations .location .update {
	color:#CCC;
	font-family:"Open Sans";
	font-size:0.8em;
	font-weight:300;
	position:relative;
	z-index:2;
}

#locations .location-leaves {
	background:rgba(235,215,0,0.3);
	color:#FFF;
}
#locations .location-pineneedles {
	background:rgba(116,172,36,0.3);
	color:#FFF;
}
#locations .location-rocks {
	background:rgba(135,151,179,0.3);
	color:#FFF;
}
#locations .location-woodchips {
	background:rgba(191,152,111,0.3);
	color:#FFF;
}

#locations .location .chart-little {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -799px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-some {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -649px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-enough {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -499px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-plenty {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -349px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-lots {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -199px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#locations .location .chart-tons {
	width:280px;
	height:150px;
	background:transparent url('../imgs/chart-locations-reversed.png') no-repeat 0px -49px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#locations .location:hover {
	cursor:pointer;
}
#locations .location:hover .title .amount {
	font-weight:700;
}



#pile {
	margin:0;
	color:#EEE;
}
#pile h3 {
	color:#FFF;
}
#pile .map {
	width:100%;
	height:250px;
	background:#424242 url('../imgs/map.png') no-repeat top center;
}
#pile .info {
	margin:0 1em 0.2em 0;
	padding:1em 2em 1em 1em;
	font-size:1.4em;
	font-weight:300;
}
#pile .chart {
	padding:2em 1em;
	background:rgba(0,0,0,0.7);
	text-align:center;
}
#pile .chart img{
	width:100%;
	max-width:440px;
}
#pile .notes {
	padding:1em 2em 1em 1em;
	font-size:1.4em;
	font-weight:300;
}
#pile .history {
	padding:1em 2em 0em 1em;
	font-size:1.4em;
}
#pile .history .entry {
	margin:0 0 0.5em 0;
	padding:0.8em;
	background:rgba(0,0,0,0.4);
	border-radius:1em;
}

#newPileForm {
	background:#131313 url('../imgs/bg2.png');
	overflow:auto;
	position:absolute;
	top:0;
	left:-9999px;
	z-index:9999;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
}
#newPileForm .inner {
	margin:8em 2em 1em 1em;
}
#newPileForm h1 {
	color:#EEE;
	font-weight:700;
}
#newPileForm .header {
	width:100%;
	background:#FFF;
	color:#000;
	position:absolute;
	top:0;
	left:0;
}
#newPileForm .header h1 {
	margin:0;
	padding:0.425em 0em 0.425em 0.5em;
	color:#000;
	font-size:3em;
	font-weight:300;
}
#newPileForm .address {
	margin:3em 0 2em 0;
}
#newPileForm .address h1,
#newPileForm .types h1,
#newPileForm .amount h1,
#newPileForm .description h1 {
	font-size:2em;
}
#newPileForm .address input,
#newPileForm .description textarea {
	margin:0.2em 0;
	padding:0.6em;
	border:2px solid #CCC;
	display:block;
	font-family:"Quicksand", sans-serif;
	font-size:1.25em;
	font-weight:400;
	outline:none;
}
#newPileForm .address input:focus,
#newPileForm .description textarea:focus {
	border:2px solid #198DAF;
}
#newPileForm .address .action {
	width:100%;
	float:none;
}
#newPileForm .address .manual {
	margin:0 2% 0 0;
	padding:0 2% 0 0;
}
#newPileForm .address .auto {
	
}
#newPileForm .types {
	margin:0 0 2em 0;
}
#newPileForm .type {
	width:6.25em;
	height:6.25em;
	margin:0em;
	background:#424242;
	border:2px solid #131313;
	color:#FFF;
	float:left;
	letter-spacing:-0.1em;
}
#newPileForm .type:hover {
	cursor:pointer;
	font-weight:700;
}
#newPileForm .type-pineneedles {
	background:transparent url('../imgs/icons-categories.png') no-repeat 0px 0px;
}
#newPileForm .type-leaves {
	background:transparent url('../imgs/icons-categories.png') no-repeat -100px 0px;
}
#newPileForm .type-rocks {
	background:transparent url('../imgs/icons-categories.png') no-repeat -200px 0px;
}
#newPileForm .type-woodchips {
	background:transparent url('../imgs/icons-categories.png') no-repeat -300px 0px;
}
#newPileForm .amount {
	margin:0 0 2em 0;
}
#newPileForm .amount .visual img {
	width:100%;
}
#newPileForm .amount .option {
	width:6.25em;
	height:6.25em;
	margin:0;
	background:#424242;
	border:2px solid #131313;
	color:#FFF;
	float:left;
}
#newPileForm .amount .option:hover {
	cursor:pointer;
	font-weight:700;
}
#newPileForm .types .action-selected,
#newPileForm .amount .action-selected {
	border:2px solid #198DAF;
	font-weight:700;
}

#updatePileForm {
	background:#131313 url('../imgs/bg2.png');
	overflow:auto;
	position:absolute;
	top:0;
	left:-9999px;
	z-index:9999;
	transition-property:left;
	transition-duration:0.1s;
	transition-timing-function:cubic-bezier(0.35,0.05,0.6,1);
}
#updatePileForm .inner {
	margin:8em 2em 1em 1em;
}
#updatePileForm .header {
	width:100%;
	background:#FFF;
	color:#000;
	position:absolute;
	top:0;
	left:0;
}
#updatePileForm .header h1 {
	margin:0;
	padding:0.425em 0em 0.425em 0.5em;
	color:#000;
	font-size:3em;
	font-weight:300;
}
#updatePileForm h1 {
	font-size:2em;
}
#updatePileForm .id {
	margin:3em 0 2em 0;
}
#updatePileForm .id h1 {
	color:#FFF;
}
#updatePileForm .id input {
	margin:0.2em 0;
	padding:0.6em;
	border:2px solid #CCC;
	display:block;
	font-family:"Quicksand", sans-serif;
	font-size:1.25em;
	font-weight:400;
	outline:none;
}
#updatePileForm .id input:focus {
	border:2px solid #198DAF;
}
#updatePileForm .amount h1 {
	color:#FFF;
}
#updatePileForm .amount .visual img {
	width:100%;
}
#updatePileForm .amount .option {
	width:6.25em;
	height:6.25em;
	margin:0;
	background:#424242;
	border:2px solid #131313;
	color:#FFF;
	float:left;
}
#updatePileForm .amount .option:hover {
	cursor:pointer;
	font-weight:700;
}
#updatePileForm .amount .action-selected {
	border:2px solid #198DAF;
	font-weight:700;
}

/** About panel/page **/
#about {
	width:100%;
	height:100%;
	background:#FFF;
	font-size:1.4em;
	line-height:1.2em;
	overflow-y:scroll;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
#about h1 {
	font-size:2em;
}
#about p {
	margin:0 0 0.8em 0;
	color:#424242;
}
#about .inner {
	margin:1em 2em;
}
#about .action {
	width:100%;
	margin:1em 0;
	padding:1em 0;
	border:1px solid #CCC;
}

/* clears */
.clear {
	content:'';
	display:block;
	clear:both;
}

/*** RESPONSIVENESS ***/
@media (min-width:320px) {
	#newPileForm .address input,
	#newPileForm .description textarea {
		width:25em;
	}
}
@media (max-width:600px) {
	#newPileForm .address input,
	#newPileForm .description textarea {
		width:21.5em;
	}
}
@media (max-width:520px) {
	#newPileForm .address input,
	#newPileForm .description textarea {
		width:19.25em;
	}
}
@media (max-width:479px) {
	#categories,
	#locations {
		font-size:0.7em;
	}
	#categories .category .type {
		left:2em;
	}
	.topnav .logowrap .logotitle p {
		display:none;
	}
	#locations .location .amount {
		margin:0 0 0 1.95em;
	}
	#locations .location .location-address {
		font-size:1.4em;
	}
	#locations .location .location-address p {
		margin:0.2em 0 0 3.05em;
		top:0.6em;
	}
	#newPileForm .address input,
	#newPileForm .description textarea {
		width:11.25em;
	}
	#about .inner {
		margin:1em;
	}
}





/*** DEBUG ***/
#debug {
	width:150px;
	padding:10px;
	position:fixed;
	bottom:0;
	right:0;
	background:#EEE;
	color:#636363;
	display:none;
	font-size:0.8em;
	z-index:9999;
}